apiVersion: apps/v1
kind: Deployment
metadata:
  name: delivery-deploy
  namespace: metacoding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: delivery
  template:
    metadata:
      labels:
        app: delivery
    spec:
      containers:
        - name: delivery-server
          image: 842903729788.dkr.ecr.ap-northeast-2.amazonaws.com/metacoding/delivery:1
            #나중에 지워야 함.
          imagePullPolicy: Always
          ports:
            - containerPort: 8084
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "prod"
          envFrom:
            - configMapRef:
                name: delivery-configmap
            - secretRef:
                name: delivery-secret