apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: metacoding
spec:
  type: ClusterIP  # 내부 통신 전용
  selector:
    app: gateway
  ports:
    - port: 8080
      targetPort: 8080
