apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: metacoding
spec:
  type: LoadBalancer  # 외부에 노출
  selector:
    app: gateway
  ports:
    - port: 8080
      targetPort: 8080